{% extends "backend/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head %}
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock %}

{% block content %}
<section class="text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">

{% if form.errors %}
{% if form.hcaptcha.errors %}
    <p>Please verify hcaptcha!</p>
    {% else %}
<p>Your username and password didn't match. Please try again.</p>
    {% endif %}
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

  <form method="post" class="mb-3">
      {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">{% trans "Sign In" %}</h1>

    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="floatingInput" name="login" placeholder="username">
      <label for="floatingInput">{{ form.login.label_tag }}</label>
    </div>
    <div class="form-floating mb-2">
      <input type="password" class="form-control" name="password" autocomplete="current-password" required id="floatingPassword" placeholder="password">
      <label for="floatingPassword">{{ form.password.label_tag }}</label>
    </div>

    <div class="h-captcha" data-sitekey="{{ hcaptcha_sitekey }}"></div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mb-2" type="submit" value="login">{% trans "Sign In" %}</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>

<p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> / <a href="{% url 'account_signup' %}">{% trans "Signup" %}</a></p>
      </div>
    </div>
</section>
{% endblock %}