{% extends "backend/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
<section class="text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">

<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <div class="form-floating mb-2">
      <input type="password" class="form-control" name="password1" autocomplete="new-password" required id="password1" placeholder="password">
      <label for="password1">{{ form.password1.label_tag }}</label>
    </div>
    <div class="form-floating mb-2">
      <input type="password" class="form-control" name="password2" autocomplete="new-password" required id="password2" placeholder="confirm password">
      <label for="password2">{{ form.password2.label_tag }}</label>
    </div>
            <input type="submit" class="btn btn-primary" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}
      </div>
    </div>
</section>
{% endblock %}