{% extends 'backend/base.html' %}
{% load static %}

{% block meta %}
    <meta property="og:title" content="ImgFS" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ file_url }}" />
    <meta property="og:image:width" content="{{ image.thumbnailimage.width }}" />
    <meta property="og:image:height" content="{{ image.thumbnailimage.height }}" />
    <meta property="og:image:type" content="{{ image.thumbnailimage.content_type }}" />
    <meta property="og:description" content="An online image sharing service using IPFS to store files." />
{% endblock %}

{% block content %}
        {% include 'backend/components/_partial_show_image.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/bs5-lightbox.bundle.min.js' %}"></script>
{% endblock %}