{% extends 'backend/base.html' %}

{% block meta %}
    <meta property="og:title" content="ImgFS" />
    <meta property="og:image" content="{{ file_url }}" />
    <meta property="og:image:type" content="{{ content_type }}" />
{% endblock %}

{% block content %}
            <div class="row g-5">
                <div class="col-md-8">
                    <img src="{{ file_url }}" class="img-fluid rounded mx-auto d-block" alt="">
                </div>
                <div class="col-md-4">
                    <div class="card">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Page url</a>
                      </li>
                      <li class="nav-item">
                        {% if imgurl is None %}
                        <a class="nav-link disabled">Image url</a>
                        {% else %}
                        <a class="nav-link" href="{{ imgurl }}">Image url</a>
                        {% endif %}
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled">Share to...</a>
                      </li>
                    </ul>
                    </div>
                </div>
            </div>

{% endblock %}