    <main id="main">
    <div class="row">{% include 'dashboard/components/pagination.html' %}</div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" hx-target="#main" hx-swap="outerHTML" hx-push-url="true">
      {% for obj in object_list %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <a hx-get="{% url 'ShowImageView' obj.cid %}" href="{% url 'ShowImageView' obj.cid %}">
          <img class="card-img-top img-thumbnail" src="{{ gateway }}/ipfs/{{ obj.thumbnailimage.cid }}" alt="" style="height: 388px; object-fit: cover;">
          </a>
          <div class="card-body">
            <button type="button" class="w-100 btn btn-lg btn-outline-danger">Delete</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">{% include 'dashboard/components/pagination.html' %}</div>

<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteDialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete image</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete this image?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="post" action="">
              {% csrf_token %}
              <input type="hidden" name="cid" value="">
        <button type="button" class="btn btn-primary">Confirm</button>
          </form>
      </div>
    </div>
  </div>
</div>
    </main>